<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="{% url 'board:index' %}">Newspapers Agency</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'board:redactor-list' %}"><i class="bi bi-people"></i> All Redactors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'board:newspaper-list' %}"><i class="bi bi-newspaper"></i> All Newspapers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'board:topic-list' %}"><i class="bi bi-tags"></i> All Topics</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0 mx-auto d-flex" method="get" action="{% url 'board:newspaper-search' %}">
      <input class="form-control mr-sm-2 flex-grow-1" type="search" placeholder="Search for topics" aria-label="Search"
             name="q" title="Use '-' before name to exclude topics">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ user.get_absolute_url }}"><i class="bi bi-person-circle"></i> {{ user.username }}
          </a>
        </li>
        <li class="nav-item">
          <form method="post" action="{% url 'account_logout' %}" class="form-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-secondary">Logout</button>
          </form>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}?next={{ request.path }}"><i
              class="bi bi-box-arrow-in-right"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_signup' %}?next={{ request.path }}"><i
              class="bi bi-person-plus"></i> Register</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>